 .main-greenbox{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(118, 81%, 23%) ;
    color: white;
    margin-top: 5px;
}

.buttonsforfilter{
    text-align: center;
}

.moviesfilterbutton{
    margin-left: 175px;
     color:white;
     float: left;
     /*ackground-color: rgb(88, 88, 88);*/
     background-color:gray;
}
.gray-box input[type=text]{
   /* background-color: rgb(88, 88, 88);*/
   /*background-color:gray;*/
    height: 15px;
    margin: auto;
    margin-top:15px;
    padding-left:40px;
    margin-left: 10px;
    width:1200px;
    border-radius : 15px;
}

.gray-box{
    background-color: rgb(88, 88, 88);
    position:relative;
    height:50px;
}
.gray-box i{
    position:absolute;
    left:0;
    top:8px;
    padding:9px 8px;
    color:#aaaa;
    height: 15px;
}
/*.search-box{
  background-color: white;
   height: 15px;
  padding-bottom: 15px;
  margin-top: 6px;
  padding-left:1040px;
  padding-right:50px;
  border-radius : 15px;
  margin-left : 4px;
  margin-right : 4px;
  text-align:start;

}*/
#search{
background-color: white;
}
/*#search{
width:100%;
border-radius : 50px;
margin-left : 4px;
margin-right:-10px;
margin-top:10px;
margin-bottom:10px;
padding-bottom:8px;
}*/
.image{
    width:70px;
    height:90px;
    float:left;
    margin-left: 5px;
}
.heading{
    color:blue;
    margin-right:10px;

}
.discription{
    margin-right:10px; 
}

.loader{
    height:100px;
    width:100px;
    background:#fff url('https://www.bing.com/images/search?view=detailV2&ccid=i0GaJxOn&id=3FA9DD309CC903F40508DE012C79D2D7EE429204&thid=OIP.i0GaJxOnBZxqKKl4v6W9DAHaCo&mediaurl=http%3a%2f%2fjster.net%2fimg%2fblog%2f69%2f3.jpg&exph=228&expw=640&q=picture+for+preloaders+of+html&simid=608053310561914629&selectedIndex=21&ajaxhist=0')
    position :fixed;
    left: 0;
    top: 100;
}

.style{
    width : 20%;
    height :50px;
    float :left;
    background-color:rgba(29, 29, 29, 0.911);
    color:white;
}
i.fa.fa-film{
    color:black;
    height:20px;
    width:30px;
}
i.fa.fa-user{
    color:gray   
}
.back{
    /*position: absolute;*/
    float:left;
    margin-top:8px;
    margin-left:10px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    background-color:rgba(22, 131, 22, 0.788) 
   
}
.iframeContainer{
        text-align: center;
}
.movieheading{
    color:blue;
    text-align: center;
   font-size: 20px;
   
}
.logOff{
         margin-right:100px;
         
}

.h1{
   float :left; 
}

.theaterHeadings{
    font-weight: 800;
}


 